<!DOCTYPE html>
<html ng-app="functionalities">
  	<head>
  		<title>AngularJS Directive 1</title>
  		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
      <script type="text/javascript" src="../Controllers/functionalities.js"></script>
      <link rel="stylesheet" type="text/css" href="../Styles/functionalities.css">
  	</head>
  	<body>
  		<div entering="activeClass" leaving>Hover over me for fun times.</div>
  	</body>
</html>